.header {
  border-bottom: 1px solid var(--border-color);
}

.container {
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.logo {
  color: var(--heading-color);
  margin: 1.625rem 0;
}
