.banner {
  padding: 2rem 0;
  border-bottom: 1px solid var(--border-color);

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    @media (min-width: 768px) {
      align-items: flex-start;
    }
  }

  h1 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    font-size: 1.5rem;
    font-weight: bold;

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 2rem;
      text-align: left;
    }
  
    @media (min-width: 1024px) {
      font-size: 3rem;
      text-align: left;
    }
  }
}
